<!-- ========================= SECTION INTRO ========================= -->
<app-nav-menu></app-nav-menu>
<app-home-banner></app-home-banner>
<!-- ========================= SECTION INTRO END// ========================= -->


<!-- ========================= SECTION FEATURE ========================= -->
<app-introduction></app-introduction>
<!-- ========================= SECTION FEATURE END// ========================= -->
<!-- ========================= SECTION CONTENT ========================= -->
<!-- ========================= Popular Porduct ========================= -->
<app-popular-products></app-popular-products>

<!-- ========================= SECTION CONTENT END// ========================= -->



<!-- ========================= SECTION CONTENT NEW ARRIVAL========================= -->
<app-new-arrival></app-new-arrival>
<!-- ========================= SECTION CONTENT END// ========================= -->



<!-- ========================= SECTION CONTENT RECOMMENDED ========================= -->
<app-recommended-products></app-recommended-products>
<!-- ========================= SECTION CONTENT END// ========================= -->

<!-- ========================= SECTION  ========================= -->
<app-brands></app-brands>
<!-- ========================= SECTION  END// ========================= -->



<!-- ========================= SECTION  ========================= -->
<app-download-apps></app-download-apps>
<!-- ========================= SECTION  END// ======================= -->




<!-- ========================= FOOTER ========================= -->
<!-- footer-top.// -->
<app-big-footer></app-big-footer>


<!-- ========================= FOOTER END // ========================= -->
